.preview {
    padding-top: 2rem;
}

.preview .checked {
    outline: 1px solid black;
    border: 3px solid white;
}

.preview .container {
    margin-inline: auto;
    max-width: 90%;
}
.preview .container .wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.preview .wrapper .left-wrapper .preview-img {
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
}

.preview .wrapper .left-wrapper .others-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    gap: .5rem;
    align-items: start;
    
}

.preview .wrapper .left-wrapper .others-img img {
    width: 45px;
    cursor: pointer;
}

.preview .wrapper .left-wrapper .main-img img {
    width: 300px;
}

.preview .wrapper .left-wrapper .detail {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}
.preview .wrapper .left-wrapper .detail .about {
    font-weight: bolder;
}

.preview .wrapper .right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preview .wrapper .right-wrapper .info .name {
    font-size: 1.8rem;
}

.preview .wrapper .right-wrapper .info .price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.preview .wrapper .right-wrapper .info .description {
    padding-block: 1em;
    border-bottom: 1px solid black;
}

.preview .wrapper .right-wrapper .color-list,
.preview .wrapper .right-wrapper .size-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.preview .wrapper .right-wrapper .color-list .colors,
.preview .wrapper .right-wrapper .size-list .sizes {
    aspect-ratio: 1;
    width: 45px;
    cursor: pointer;
}

.preview .wrapper .right-wrapper .size-list .sizes {
    display: grid;
    place-items: center;
    border: 1px solid black;
}

.preview .wrapper .right-wrapper .size-list .sizes.checked {
    background-color: #072F5F;
    color: #fff;
}

.preview .wrapper .right-wrapper .amount-select {
    cursor: pointer;
    margin-top: .5rem;
    width: 6rem;
    padding: 1em .5em;
}

@media screen and (max-width: 1000px) {
    .preview .container .wrapper {
        flex-direction: column;
    }
}