.RegisterPage {
    width: 90%;
    margin-inline: auto;
}

.InfoBox {
    border: 1px solid black;
    padding: 2rem;
    margin-top: 1rem;
}

.Info {
    display: flex;
    padding: 1rem;
    font-size: 20px;
}

.Info_text {
    max-width: 270px;
    width: 100%;
    display: flex;
    align-items: center;
}

.Input_Box {
    max-width: 550px;
    width: 100%;
    max-height: 400px;
    height: 50px;
    padding-inline: 3px;
    background-color: #F7F7F7;
    font-size: 17px;
}

.check_box {
    width: 20px;
    height: 20px;
}

input[type='checkbox'] {
    accent-color: rgb(80, 80, 255);
}

.checkbox_ {
    display: flex;
    align-items: center;

}

.ShowPassword {
    gap: 1rem;
}

.Date_Box {
    max-width: 150px;
    width: 100%;
    max-height: 400px;
    height: 50px;
    padding-inline: 3px;
    background-color: #F7F7F7;
    font-size: 17px;
}

.radio_btn_group {
    margin: 0.4rem;
    display: flex;
    gap: 1.5rem;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}

.radio_btn {
    display: flex;
    align-items: center;
}

.Register_btn {
    font-size: 17px;
    padding: 0.5rem;
    padding-inline: 6rem;
    text-align: center;
    color: white;
    background-color: black;
    font-weight: bold;
    box-shadow: 0 5px #999;
}

.Register_btn:hover {
    background-color: rgb(65, 65, 65);
    

}

.Register_btn:active {
    background-color: rgb(65, 65, 65);
   
    box-shadow: 0 2px #666;
    transform: translateY(4px);

}