.button {
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: clamp(.75rem, .75rem + 1vw, 1.25rem);
    padding: .5em 2em;
}

.button.primary {
    color: #fff;
    background-color: #072F5F;
}

.button.secondary {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}