.dropdown {
    line-height: 2.5em;
    
}

.dropdown input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 15px;
    background-image: url("../../assets/icon-arrow-down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.dropdown input[type="checkbox"]:checked {
    rotate: 180deg;
}

.dropdown .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .dropdown-header {
  flex: 1;
  cursor: pointer;
  font-size: 1.5rem;
}

.dropdown .dropdown-items {
  display: none;
  margin-left: 1em;
  width: max-content;
}

.dropdown .dropdown-items .item{
  cursor: pointer;
}

.dropdown:has( .checkbox:checked) .dropdown-items {
  display: block;
}

.dropdown:has( .checkbox:checked) .dropdown-header {
  font-weight: bolder;
}

.dropdown:has( .checkbox:checked) .dropdown-items.optional {
  display: grid;
  grid-template-columns: repeat(6, 45px);
  grid-template-rows: 45px 45px;
  padding-block: .5rem;
}

.dropdown .dropdown-items.optional .item {
  border: 1px solid gainsboro;
  text-align: center;
}

.dropdown .dropdown-items.optional .item.color {
  font-size: 0;
}

.dropdown .dropdown-items.optional .item.checked {
  border: 3px solid var(--primary-clr);
}

.dropdown .dropdown-items .item.checked {
  font-weight: bolder;
}