.search-bar {
    --font-size: 1.25rem;
    
}

.search-bar input {
    font-size: var(--font-size);
    padding: .5em 1em;
    border: 1px solid gainsboro;
    border-radius: 1em 0 0 1em;
    outline: transparent;
}

.search-bar .search-btn {
    font-size: var(--font-size);
    padding: .5em 1em;
    border-radius: 0 1em 1em 0;
    border: 1px solid gainsboro;
    cursor: pointer;
}