:root {
  --nav-fs: clamp(1rem ,1rem + 1vw, 1.75rem);
  --color: #000;
  --primary-clr: #072F5F;
  --font-family: sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  /* min-height: 100vh;
  min-height: 100dvh; */
  font-family: var(--font-family);
  
}

.app > *:not(.navbar) {
  margin-top: 100px;
}