:root {
  --primary-fs: clamp(2rem, 1rem + 3vw, 4rem);
  --secondary-fs: clamp(1rem, 1rem + 2vw, 2rem);
  --thirdary-fs: clamp(.5rem, .5rem + 1vw, 1rem);
  --nav-fs: clamp(.5rem ,.5rem + 1vw, 1.5rem);
  --color: #000;
  --font-family: sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: var(--primary-fs);
}

p {
  font-size: var(--secondary-fs);
}

p.small {
  font-size: var(--thirdary-fs);
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-family);
}

.app > *:not(.navbar) {
  margin-top: 100px;
}