.order-cart {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.order-cart .cancel-btn {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    font-size: 1.5rem;
    cursor: pointer;
}